.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      box-shadow: -3px -3px 3px 0 rgba(#ffffff, 0.6), 3px 3px 3px 0 rgba(#ffffff, 0.6), 0 0 6px 2px rgba(#ffffff, 0.6),
        0 35px 25px -15px rgba(0, 0, 0, 0.5);
      
      overflow: hidden;
      
  }
  
  .card-image {
    height: 400px;
    
  }
  
  .info-circle {
    position: absolute;;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 2rem;
  }
  
  .card-id {
    position: relative;;
    top: -3rem;
    opacity: 0.6;
    font-weight: bold;
    font-size: 3rem;
  }
  
  .pokemon-name {
    font-size: 3rem;
  }
  
  .type {
    font-size: 2rem;
    opacity: 0.75
  }
  
  .normal {
    background: linear-gradient(180deg, rgba(168, 167, 122, 0.527) 50%, rgba(255,255,255,1) 100%);
    color: #a8a77a
  }
  
  .grass {
    background: linear-gradient(180deg, rgba(121, 199, 76, 0.479) 50%, rgba(255,255,255,1) 100%);
    color: rgb(74, 201, 0)
  }
  
  .fire {
    background: linear-gradient(180deg, rgba(238, 130, 48, 0.644) 50%, rgba(255,255,255,1) 100%);
    color: #ee8230
  }
  
  .water {
    background: linear-gradient(180deg, rgba(99, 144, 240, 0.445) 50%, rgba(255,255,255,1) 100%);
    color: #6390f0
  }
  
  .flying {
    background: linear-gradient(180deg, rgba(170, 143, 243, 0.521) 50%, rgba(255,255,255,1) 100%);
    color: #aa8ff3
  }
  
  .bug {
    background: linear-gradient(180deg, rgba(166, 185, 26, 0.534) 50%, rgba(255,255,255,1) 100%);
    color: #a6b91a
  }
  
  .poison {
    background: linear-gradient(180deg, rgba(163, 62, 161, 0.541) 50%, rgba(255,255,255,1) 100%);
    color: #a33ea1
  }
  
  .electric {
    background: linear-gradient(180deg, rgba(247, 206, 44, 0.616) 50%, rgba(255,255,255,1) 100%);
    color: #f7ce2c
  }
  
  .ground {
    background: linear-gradient(180deg, rgba(226, 191, 101, 0.63) 50%, rgba(255,255,255,1) 100%);
    color: #e2bf65
  }
  
  .fighting {
    background: linear-gradient(180deg, rgba(192, 48, 40, 0.5) 50%, rgba(255,255,255,1) 100%);
    color: #C03028
  }
  
  .psychic {
    background: linear-gradient(180deg, rgba(249, 85, 134, 0.61) 50%, rgba(255,255,255,1) 100%);
    color: #f95586
  }
  
  .rock {
    background: linear-gradient(180deg, rgba(182, 161, 54, 0.596) 50%, rgba(255,255,255,1) 100%);
    color:#B6A136 
  }
  
  .ice {
    background: linear-gradient(180deg, rgba(150, 217, 214, 0.575) 50%, rgba(255,255,255,1) 100%);
    color:#96D9D6
  }
  
  .ghost {
    background: linear-gradient(180deg, rgba(115, 87, 151, 0.514) 50%, rgba(255,255,255,1) 100%);
    color:#735797
  }
  
  .dragon {
    background: linear-gradient(180deg, rgba(109, 53, 252, 0.541) 50%, rgba(255,255,255,1) 100%);
    color:#6F35FC
  }
  
  .dark {
    background: linear-gradient(180deg, rgba(112, 87, 70, 0.527) 50%, rgba(255,255,255,1) 100%);
   color:#705746
  }
  
  .steel {
    background: linear-gradient(180deg, rgba(183, 183, 206, 0.562) 50%, rgba(255,255,255,1) 100%);
    color:#B7B7CE
  }
  
  .fairy {
    background: linear-gradient(180deg, rgba(214, 133, 173, 0.664) 50%, rgba(255,255,255,1) 100%);
    color:#D685AD
  }
  
  
  
  
   